@{
  Layout = "_Layout";
}
@model MissionLog.Models.Ship;

<div class="jumbotron">
<h4>ADD A NEW SHIP</h4>
<hr>
</div>

@using (Html.BeginForm())
{
  <p>Ship Name: </p>
  @Html.TextBoxFor(model => model.ShipName)
  <p>Ship Species Origin: </p>
  @Html.TextBoxFor(model => model.ShipSpecies)
  <p>Ship Type</p>
  @* @Html.DropDownListFor(m => m.ShipType, new SelectList(Enum.GetValues(typeof(ShipType))), 
            "Select Ship Type") *@

  <input type="submit" value="Add Ship" class="btn btn-light btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-outline-light btn-sm"})</p>