@using DoctorsOffice.Models;
@{
  Layout = "_Layout";
}

<h2>LIST OF SHIPS</h2>
@if (@Model.Count == 0)
{
  <h3>NO SHIPS HAVE BEEN ADDED<h3>
}
@foreach (Ship ship in Model)
{
  <li>@Html.ActionLink($"{ship.Name}", "Details", new { id = ship.ShipId }) </li>
}
<br>
<p>@Html.ActionLink("ADD NEW SHIP", "Create", null, null, new {@class="btn btn-light btn-sm"})</p>