@{
  Layout = "_Layout";
}
@using MissionLog.Models;
<br><br>
<h2><svg width="0.75em" height="0.75em" viewBox="0 0 16 16" class="bi bi-layers-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-4.578 2.441a.5.5 0 0 1-.47 0L3.188 8z"/>
  <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z"/>
</svg> MANIFESTS</h2>
<hr>

@if (@Model.Count == 0)
{
  <p>No manifests have been added yet!</p>
}
@foreach (Manifest manifest in Model)
{
  <li>@Html.ActionLink($"{manifest.ManifestTitle}", "Details", new { id = manifest.ManifestId}, new {@class="list-detail"}) </li>
}
<br>
<p>@Html.ActionLink("Add New Manifest", "Create", null, null, new {@class="btn btn-light btn-sm"})</p>
